.Calculator_tab{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    width:500px;
    height:500px;
    background-color:rgb(70, 70, 70);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1px;
    grid-auto-rows: minmax(100px, auto);
    border: 1px solid black;
    font-weight: bold;
    font-size:22px;
    text-align: center;
    vertical-align: middle;
    line-height: 122px; 
}


.Number{
    background-color:rgb(205, 253, 207);
}

.Equal{
    background-color:rgb(236, 202, 170);
}

.Operation{
    background-color:rgb(205, 224, 253);
}

.Result{
    background-color:rgb(214, 213, 197);
    font-size:40px;
}